@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ShareCare.Data
@using ShareCare.Models.AccountViewModels
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 118px);">
<div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-4">
        <section>
            <form id="account" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h2 class="text-center">Bejelentkezés</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="EmailOrUsername" class="form-control" aria-required="true" placeholder="név@példa.com vagy felhasználónév" />
                    <label asp-for="EmailOrUsername" class="form-label">Email cím vagy felhasználónév</label>
                    <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="jelszó" />
                    <label asp-for="Password" class="form-label">Jelszó</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Bejelentkezés</button>
                </div>
                <div>
                    <p class="text-center">
                        <a asp-action="Register">Regisztráció</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
