@using ShareCare.Models.AccountViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-3">
        <form id="registerForm" asp-controller="Account" asp-action="Register" method="post">
            <h2 class="text-center">Új fiók létrehozása</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" aria-required="true" placeholder="név@példa.com" />
                <label asp-for="Email">Email cím</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="UserName" class="form-control" aria-required="true" placeholder="Felhasználónév" />
                <label asp-for="UserName">Felhasználónév</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="Vezetéknév" />
                <label asp-for="FirstName">Vezetéknév</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" aria-required="true" placeholder="Keresztnév" />
                <label asp-for="LastName">Keresztnév</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" aria-required="true" placeholder="Jelszó" />
                <label asp-for="Password">Jelszó</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" aria-required="true" placeholder="Jelszó" />
                <label asp-for="ConfirmPassword">Jelszó újra</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Regisztráció</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
